stack = "{{ rc.stack.name }}"
hcloud_token = "{{ rc.hcloud.token }}"
ssh_public_key = "{{ stack_dir}}/{{ rc.ssh['keys']['public'] }}"
master_count = "{{ rc.hcloud.master.count }}"
master_type = "{{ rc.hcloud.master.type }}"
master_location = "{{ rc.hcloud.master.location }}"
node_count = "{{ rc.hcloud.node.count }}"
node_type = "{{ rc.hcloud.node.type }}"
node_location = "{{ rc.hcloud.node.location }}"
os_image = "{{ rc.hcloud.os_image }}"